*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ********** BODY ********** */

body {
  font-family: 'Open Sans';
}

/* ********** HEADER ********** */

header {
  background-color: #FFF;
  display: flex;
  flex-flow: row wrap;
  height: 88px;
  justify-content: flex-start;
}

.nav-icon {
  width: 5.5em;
}

header h1 {
  align-self: center;
  text-transform: uppercase;
  text-align: center;
  width: 92%;
}

/* ********** MAIN ********** */

main {
  background: no-repeat center/100% url('./assets/background.jpg');
}

.player-input-screen {
  background-color: rgba(255, 255, 255, .8);
}

.player-input-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.player-1,
.player-2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.player-field {
  width: 32em;
}
