*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ********** BODY ********** */

body {
  background: no-repeat top/80% url('./assets/background.jpg');
  font-family: 'Open Sans';
}

/* ********** HEADER ********** */

header {
  background-color: #FFF;
  display: flex;
  flex-flow: row wrap;
  height: 88px;
  justify-content: flex-start;
}

.nav-icon {
  width: 5.5em;
}

header h1 {
  align-self: center;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  width: 92%;
}

/* ********** MAIN ********** */

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.player-input-screen {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgba(220, 220, 220, 0.7);
  padding: 4em;
}

.player-input-form {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Open Sans';
  font-size: 1.25em;
  justify-content: center;
  margin: 4em auto;
  padding: 2em;
  text-transform: uppercase;
  width: 90%;
}

.player-1,
.player-2 {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 50%;
}

.player-1-name-error {
  color: #ff0000;
  font-size: 1.5em;
  justify-self: center;
  padding: .5em;
}

.player-field {
  border: none;
  border-radius: 3px;
  font-size: 1.25em;
  padding: .5em .5em;
  width: 14.25em;
}

.player-label {
  align-self: flex-start;
  padding-left: 4.75em;
}

.play-game-button {
  background-color: #000;
  border: none;
  border-radius: 3px;
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 1.25em;
  text-transform: uppercase;
  padding: 0.5em;
  width: 82%;
  margin: 4em 2.25em;
}
