*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ********** BODY ********** */

body {
  background: no-repeat center/100% url('./assets/background.jpg');
  font-family: 'Open Sans';
  text-transform: uppercase;
}

.background-color {
  background: rgba(220, 220, 220, 1);
}

/* ********** HEADER ********** */

header {
  background-color: #FFF;
  display: flex;
  flex-flow: row wrap;
  height: 88px;
  justify-content: flex-start;
}

.nav-icon {
  width: 5.5em;
}

header h1 {
  align-self: center;
  margin: auto;
  text-align: center;
  width: 92%;
}

/* ********** MAIN ********** */

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

/* ********** PLAYER INPUT SCREEN ********** */

.player-input-screen {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: calc(100vh - 88px);
  background-color: rgba(220, 220, 220, 0.7);
  padding: 4em;
  width: 100%;
}

.player-input-form {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Open Sans';
  font-size: 1.25em;
  justify-content: space-around;
  margin: 4em auto;
  padding: 2em;
  width: 70%;
}

.player-1,
.player-2 {
  display: flex;
  flex-flow: row wrap;
  justify-self: space-between;
  width: 40%;
}

.player-1-name-error {
  color: #ff0000;
  font-size: 1.5em;
  justify-self: center;
  padding: .5em;
}

.player-field {
  border: none;
  border-radius: 3px;
  font-size: 1.25em;
  padding: .5em .5em;
  width: 100%;
}

.play-game-button {
  background-color: #000;
  border: none;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 1.25em;
  text-transform: uppercase;
  padding: 0.5em;
  width: 90%;
  margin: 4em 0;
}

/* *********** DIRECTIONS SCREEN ********** */

.directions-screen {
  align-items: center;
  background-color: rgba(220, 220, 220, 0.7);
  display: flex;
  flex-flow: column nowrap;
  height: calc(100vh - 88px);
}

.directions-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 55%;
}

.directions-container > h2,
.directions-container > p {
  padding: 1em 0;
  font-size: 1.5em;
}

.directions-container > p {
  text-transform: none;
}

.directions-container .play-game-button {
  margin: 2em 0;
}

/* *********** GAME SCREEN ********** */

.game-screen {
  background-color: rgba(220, 220, 220, 1);
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 33% 34% 33%;
  margin: 15px 15px 0px;
}

/* ********** ASIDES ********** */

.player-1-stats,
.player-2-stats {
  align-items: center;
  background-color: #000;
  color: #FFF;
  display: flex;
  flex-flow: column nowrap;
  height: calc(100vh - 88px);
}

.player-1-stats {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
}

.player-2-stats {
  grid-column: 3 / span 3;
  grid-row: 1 / span 3;
}

.player-1-stats *,
.player-2-stats * {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0.25em;
  padding: 0.5em;
  text-align: center;
  width: 80%;
}

.player-1-display,
.player-2-display {
  border-bottom: 2px solid #FFF;
}

.matches-this-round {
  border-bottom: 2px solid #FFF;
}

.number-rounds {
  font-size: 5em;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

/* ********** GAME SCREEN ********** */

.card-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  flex-wrap: wrap;
  height: calc(100vh - 138px);
  padding: 25px 30px 5px;
  perspective: 1000px;
  width: 100%;
}

.card {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 200px;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .5s;
  width: 100%;
}

.card1 {
  grid-column: 2;
  grid-row: 1;
  transform: rotate(-10deg);
}

.card2 {
  grid-column: 4;
  grid-row: 1;
  transform: rotate(5deg);
}

.card3 {
  grid-column: 6;
  grid-row: 1;
  transform: rotate(-13deg);
}

.card4 {
  grid-column: 1;
  grid-row: 2;
  transform: rotate(-8deg);
}

.card5 {
  grid-column: 3;
  grid-row: 2;
  transform: rotate(7deg);
}

.card6 {
  grid-column: 5;
  grid-row: 2;
  transform: rotate(15deg);
}

.card7 {
  grid-column: 7;
  grid-row: 2;
  transform: rotate(-8deg);
}

.card8 {
  grid-column: 2;
  grid-row: 3;
  transform: rotate(8deg);
}

.card9 {
  grid-column: 4;
  grid-row: 3;
  transform: rotate(-11deg);
}

.card10 {
  grid-column: 6;
  grid-row: 3;
  transform: rotate(7deg);
}

.card-face,
.card-back {
  border: 1px solid black;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
}

.card-face {
  height: 200px;
  width: 100%;  
  transform: rotateY(180deg);
}

.card img {
  background: #FFF;
  object-fit: scale-down;
  width: 100%;
  z-index: 0;
}

.flip-card {
  transform: rotateY(180deg);
}

/* ********** HIDE CLASS ********** */

.hide {
  display: none;
}